body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #16BFFD, #CB3066);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
    margin: 20px auto; 
    max-height: 80vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
}


h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.income-form, .expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.income-form h2, .expense-form h2 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.income-form input, .expense-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f8ff; 
}

.income-form button, .expense-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F52F57;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.income-form button:hover, .expense-form button:hover {
    background-color: #c72a49;
}

.history-table {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.history-table div {
    width: 48%;
}

.history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.history li span {
    font-weight: 500;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: #F52F57; /* Green color */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
    padding: 5px 10px; /* Add padding */
    border-radius: 5px; /* Add border radius */
}

.delete-btn:hover {
    background-color: #F52F57; /* Green color on hover */
    color: #fff; /* White text color on hover */
}

.total {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.total h2 {
    margin: 10px 0;
    font-weight: 500;
}


/* media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .form-container {
        flex-direction: column;
    }

    .history-table {
        flex-direction: column;
    }

    .history-table div {
        width: 100%;
    }
}

